body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@media (min-width: 768px) {
    #navbar {
        width: 30%;
        float: left;
    }
    
}


#navbar{ 
    text-decoration: none;
    min-height: 100vh
}

